ReductionServer/Milliman.ReductionEngine/Service References/QMSAPI/Service9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.qliktech.com/QDS/12/" elementFormDefault="qualified" targetNamespace="http://ws.qliktech.com/QDS/12/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://indy-qvtest01:4720/QDS/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PIX" />
  <xs:import schemaLocation="http://indy-qvtest01:4720/QDS/Service?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PIX.Document" />
  <xs:import schemaLocation="http://indy-qvtest01:4720/QDS/Service?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://indy-qvtest01:4720/QDS/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://indy-qvtest01:4720/QDS/Service?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SolutionGlobal.Logging" />
  <xs:import schemaLocation="http://indy-qvtest01:4720/QDS/Service?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" />
  <xs:element name="GetDirectoryListing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_IncludeFolders" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_IncludeFiles" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_IncludeHidden" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_FileNameRegExp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoryListingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetDirectoryListingResult" nillable="true" type="q1:ArrayOfFileSystemItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_IncludeSubFolders" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetSourceDocumentsResult" nillable="true" type="q2:ArrayOfFileSystemItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvalidSourceDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="documents" nillable="true" type="q3:ArrayOfFileSystemItem" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvalidSourceDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetInvalidSourceDocumentsResult" nillable="true" type="q4:ArrayOfFileSystemItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDataFolder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationDataFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationDataFolderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentBookmarkNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_QDSSession" nillable="true" type="q5:QDSSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentBookmarkNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDocumentBookmarkNamesResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_QDSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_ClearSelections" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_ClearLocks" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_ClearOneAndAlwaysOne" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_Reduce" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_EncryptedSectionAccessUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_EncryptedSectionAccessPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="CreateSessionResult" nillable="true" type="q7:QDSSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_QDSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_QDSSession" nillable="true" type="q8:QDSSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAllSessions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_QDSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAllSessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseAllSessionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_QDSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_QDSSession" nillable="true" type="q9:QDSSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="GetFieldListResult" nillable="true" type="q10:ArrayOfField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldContentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_QDSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_QDSSession" nillable="true" type="q11:QDSSession" />
        <xs:element minOccurs="0" name="i_ForFieldName" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_FieldContentType" type="q12:eFieldContentType" />
        <xs:element minOccurs="0" name="i_Index" type="xs:int" />
        <xs:element minOccurs="0" name="i_Length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldContentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="GetFieldContentListResult" nillable="true" type="q13:ArrayOfFieldContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_QDSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_QDSSession" nillable="true" type="q14:QDSSession" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_FieldContentList" nillable="true" type="q15:ArrayOfFieldContent" />
        <xs:element minOccurs="0" name="i_Lock" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_ToggleSelect" type="xs:boolean" />
        <xs:element minOccurs="0" name="i_ReturnSelectedList" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="AddSelectionsResult" nillable="true" type="q16:ArrayOfFieldContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSelections">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_QDSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_QDSSession" nillable="true" type="q17:QDSSession" />
        <xs:element minOccurs="0" name="i_FieldName" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_ClearOptions" type="q18:eClearOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSelectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearSelectionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_QDSPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="i_QDSSession" nillable="true" type="q19:QDSSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetReportsResult" nillable="true" type="q20:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_QDSPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PIX.Document" minOccurs="0" name="GetDocumentInfoResult" nillable="true" type="q21:DocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="i_TaskID" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDXStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="execId" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDXStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetEDXStatusResult" nillable="true" type="q24:EDXStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEDX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_TaskIDOrTaskName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_VariableName" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="i_VariableValueList" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEDXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="StartEDXResult" nillable="true" type="q26:EDXStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="i_TaskID" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetTaskStatusesResult" nillable="true" type="q28:ArrayOfTaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="taskIDs" nillable="true" type="q29:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetTaskStatusesByIdResult" nillable="true" type="q30:ArrayOfTaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusesModifiedSince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusesModifiedSinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTaskStatusesModifiedSinceResult" nillable="true" type="q31:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskNameOrId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetTaskStatusResult" nillable="true" type="q32:TaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskExecutionHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskExecutionHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetTaskExecutionHistoryResult" nillable="true" type="q34:ArrayOfTaskExecutionHistoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvgExecutionTimeForSuccessfullExecutions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q35:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvgExecutionTimeForSuccessfullExecutionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetAvgExecutionTimeForSuccessfullExecutionsResult" type="q36:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusForDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusForDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetTaskStatusForDocumentResult" nillable="true" type="q37:TaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQDSInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQDSInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetQDSInfoResult" nillable="true" type="q38:QDSInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q39:guid" />
        <xs:element minOccurs="0" name="taskXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginSaveTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginSaveTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="BeginSaveTasksResult" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="taskSummaryList" nillable="true" type="q41:ArrayOfTaskSummaryItem" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="saveTasksHandle" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTasksResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSaveTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="saveTasksHandle" type="q43:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSaveTasksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configurationXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveConfigurationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveQdsByMachineName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveQdsByMachineNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTestMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_From" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_ToAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_ServerAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_Port" type="xs:int" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="i_AuthMethod" type="q45:eAuthenticationMethod" />
        <xs:element minOccurs="0" name="i_Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_EncryptedPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_TimeoutSeconds" type="xs:int" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="i_MailFormat" type="q46:eMailFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTestMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTestMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesStandardEditionScheduleListXMLExist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesStandardEditionScheduleListXMLExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoesStandardEditionScheduleListXMLExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardEditionScheduleListXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardEditionScheduleListXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStandardEditionScheduleListXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStandardEditionScheduleListXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStandardEditionScheduleListXMLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestTaskLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xsPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q47:guid" />
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestTaskLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SolutionGlobal.Logging" minOccurs="0" name="GetLatestTaskLogResult" nillable="true" type="q48:ArrayOfLogfileEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q49:guid" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="logId" type="q50:guid" />
        <xs:element minOccurs="0" name="maxRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SolutionGlobal.Logging" minOccurs="0" name="GetTaskLogResult" nillable="true" type="q51:ArrayOfLogfileEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskLogHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q52:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskLogHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetTaskLogHistoryResult" nillable="true" type="q53:ArrayOfTaskLogHistoryEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyComputer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetMyComputerResult" nillable="true" type="q54:ArrayOfFSFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyNetworkPlaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyNetworkPlacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetMyNetworkPlacesResult" nillable="true" type="q55:ArrayOfFSComputer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShares">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_ComputerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetSharesResult" nillable="true" type="q56:ArrayOfFSFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_Path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileSystemItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetFileSystemItemsResult" nillable="true" type="q57:ArrayOfFSFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_Path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i_Filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="GetFilesResult" nillable="true" type="q58:ArrayOfFsFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="PingResult" type="q59:eStatusFlag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QMSPing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QMSPingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="QMSPingResult" type="q60:eStatusFlag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewWorkorder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newWorkOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewWorkorderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetNewWorkorderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>