ReductionServer/Milliman.ReductionEngine/Service References/QMSAPI/Service8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PIX.Document" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PIX.Document" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QDSSession">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QDSSession" nillable="true" type="tns:QDSSession" />
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
  <xs:simpleType name="eFieldContentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="CurrentSelections" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eFieldContentType" nillable="true" type="tns:eFieldContentType" />
  <xs:complexType name="ArrayOfFieldContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldContent" nillable="true" type="tns:FieldContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFieldContent" nillable="true" type="tns:ArrayOfFieldContent" />
  <xs:complexType name="FieldContent">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldContent" nillable="true" type="tns:FieldContent" />
  <xs:simpleType name="eClearOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="UnlockAll" />
          <xs:enumeration value="ClearSelectionsWithUnlockBefore" />
          <xs:enumeration value="ClearSelections" />
          <xs:enumeration value="ClearAllOneAndAlwaysOne" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="eClearOptions" nillable="true" type="tns:eClearOptions" />
  <xs:complexType name="DocumentInfo">
    <xs:sequence>
      <xs:element ref="xs:schema" />
      <xs:any />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentInfo" nillable="true" type="tns:DocumentInfo" />
</xs:schema>