ReductionServer/Milliman.ReductionEngine/Service References/QMSAPI/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.qliktech.com/QMS/12/2/" elementFormDefault="qualified" targetNamespace="http://ws.qliktech.com/QMS/12/2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://indy-qvtest01:4799/QMS/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://indy-qvtest01:4799/QMS/Service?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" />
  <xs:import schemaLocation="http://indy-qvtest01:4799/QMS/Service?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.CALs" />
  <xs:import schemaLocation="http://indy-qvtest01:4799/QMS/Service?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" />
  <xs:import schemaLocation="http://indy-qvtest01:4799/QMS/Service?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://indy-qvtest01:4799/QMS/Service?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/PIX" />
  <xs:import schemaLocation="http://indy-qvtest01:4799/QMS/Service?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Document" />
  <xs:element name="RestartQVS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartQVSResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QVSNeedRestart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QVSNeedRestartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QVSNeedRestartResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="userDocument" nillable="true" type="q3:DocumentNode" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q4:DocumentMetaDataScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetDocumentMetaDataResult" nillable="true" type="q5:DocumentMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="documentMetaData" nillable="true" type="q6:DocumentMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentMetaDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCALConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q8:CALConfigurationScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCALConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.CALs" minOccurs="0" name="GetCALConfigurationResult" nillable="true" type="q9:CALConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCALConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.CALs" minOccurs="0" name="calConfiguration" nillable="true" type="q10:CALConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCALConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCALInfoForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q11:guid" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCALInfoForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.CALs" minOccurs="0" name="GetCALInfoForUserResult" nillable="true" type="q12:UserCALs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSPerformanceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="target" type="q14:QueryTarget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSPerformanceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetQVSPerformanceDataResult" nillable="true" type="q15:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSUtilizationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q16:guid" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="target" type="q17:QueryTarget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSUtilizationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetQVSUtilizationDataResult" nillable="true" type="q18:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSDocumentsPerUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q19:guid" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="target" type="q20:QueryTarget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSDocumentsPerUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetQVSDocumentsPerUserResult" nillable="true" type="q21:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSDocumentsAndUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q22:guid" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="target" type="q23:QueryTarget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSDocumentsAndUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetQVSDocumentsAndUsersResult" nillable="true" type="q24:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerObjectMetaDataForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q25:guid" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerObjectMetaDataForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetServerObjectMetaDataForUserResult" nillable="true" type="q26:ArrayOfServerObjectMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q27:guid" />
        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetServerObjectsResult" nillable="true" type="q28:ArrayOfServerObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServerObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q29:guid" />
        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServerObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeServerObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q30:guid" />
        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeServerObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dscID" type="q31:guid" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="names" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="LookupNamesResult" nillable="true" type="q33:ArrayOfDirectoryServiceObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dscID" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetDSResourcesResult" nillable="true" type="q35:ArrayOfDSResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveUserGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dscID" type="q36:guid" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveUserGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResolveUserGroupsResult" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDSProviders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dscID" type="q38:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDSProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetAvailableDSProvidersResult" nillable="true" type="q39:ArrayOfDSProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDirectories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dscID" type="q40:guid" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDirectoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableDirectoriesResult" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetQVWSAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvwsID" type="q42:guid" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="authenticationType" nillable="true" type="q43:QVWSAuthentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetQVWSAuthenticationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVWSAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvwsID" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVWSAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetQVWSAuthenticationResult" nillable="true" type="q45:QVWSAuthentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvwsID" type="q46:guid" />
        <xs:element minOccurs="0" name="document" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectServerResult" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQmsId" type="q47:guid" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="serviceTypes" type="q48:ServiceTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="RemoteGetServicesResult" nillable="true" type="q49:ArrayOfServiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetSourceDocumentFolders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQmsId" type="q50:guid" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQdsId" type="q51:guid" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q52:DocumentFolderScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetSourceDocumentFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="RemoteGetSourceDocumentFoldersResult" nillable="true" type="q53:ArrayOfDocumentFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetSourceDocumentNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQmsId" type="q54:guid" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQdsId" type="q55:guid" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="folderId" type="q56:guid" />
        <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetSourceDocumentNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="RemoteGetSourceDocumentNodesResult" nillable="true" type="q57:ArrayOfDocumentNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetTaskListForDocID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQmsId" type="q58:guid" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetTaskListForDocIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="RemoteGetTaskListForDocIDResult" nillable="true" type="q60:ArrayOfTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQmsId" type="q61:guid" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQdsId" type="q62:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="RemoteGetTasksResult" nillable="true" type="q63:ArrayOfTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetDocumentTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQmsId" type="q64:guid" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q65:guid" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q66:DocumentTaskScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteGetDocumentTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="RemoteGetDocumentTaskResult" nillable="true" type="q67:DocumentTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDocumentTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQmsId" type="q68:guid" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteDocumentTaskId" type="q69:guid" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="destinationQdsId" type="q70:guid" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="destinationDocument" nillable="true" type="q71:DocumentNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDocumentTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportAllDocumentTasksForQds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQmsId" type="q72:guid" />
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="remoteQdsId" type="q73:guid" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="destinationQdsId" type="q74:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportAllDocumentTasksForQdsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiateUploadExtensionObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsId" type="q75:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiateUploadExtensionObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="InitiateUploadExtensionObjectResult" nillable="true" type="q76:ExtensionUploadHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteExtensionObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="handle" nillable="true" type="q77:ExtensionUploadHandle" />
        <xs:element minOccurs="0" name="chunk" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteExtensionObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="WriteExtensionObjectResult" nillable="true" type="q78:ExtensionUploadHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAndInstallExtensionObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="handle" nillable="true" type="q79:ExtensionUploadHandle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAndInstallExtensionObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="CloseAndInstallExtensionObjectResult" nillable="true" type="q80:ArrayOfQVSMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQMSVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQMSVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetQMSVersionResult" nillable="true" type="q81:QMSVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsQdsLoadbalancerConfigured">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsQdsLoadbalancerConfiguredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsQdsLoadbalancerConfiguredResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasAnyDistributionGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasAnyDistributionGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasAnyDistributionGroupsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QdsLoadBalancerConfigHasErrors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QdsLoadBalancerConfigHasErrorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QdsLoadBalancerConfigHasErrorsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDistributionGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDistributionGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllDistributionGroupsResult" nillable="true" type="q82:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistributionGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsId" type="q83:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistributionGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDistributionGroupsResult" nillable="true" type="q84:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistributionGroupsDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsId" type="q85:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistributionGroupsDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetDistributionGroupsDefinitionResult" nillable="true" type="q86:ArrayOfDistributionConfigValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateFolderId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateFolderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTemplateFolderIdResult" nillable="true" type="q87:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMissingDistributionGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMissingDistributionGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllMissingDistributionGroupsResult" nillable="true" type="q88:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVPRAPISettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVPRAPISettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetQVPRAPISettingsResult" nillable="true" type="q89:QVPRAPISettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetQVPRAPISettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="qvprSettings" nillable="true" type="q90:QVPRAPISettings" />
        <xs:element minOccurs="0" name="doMigrate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetQVPRAPISettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetQVPRAPISettingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSCAPISettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dscID" type="q91:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSCAPISettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetDSCAPISettingsResult" nillable="true" type="q92:DirectoryServiceConnectorAPISettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDSCAPISettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="dscSettings" nillable="true" type="q93:DirectoryServiceConnectorAPISettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDSCAPISettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSPAPISettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dscID" type="q94:guid" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="dspType" type="q95:DSPType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDSPAPISettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetDSPAPISettingsResult" nillable="true" type="q96:DSPSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDSPAPISettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="dspSettings" nillable="true" type="q97:DSPSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDSPAPISettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="serviceURLs" nillable="true" type="q98:ArrayOfKeyValueOfguidanyURI" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="serviceType" type="q99:ServiceTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/PIX" minOccurs="0" name="UpdateServicesResult" nillable="true" type="q100:ServiceUpdateStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVWSSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvwsID" type="q101:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVWSSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetQVWSSettingResult" nillable="true" type="q102:QVWSSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetQVWSSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvwsID" type="q103:guid" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="qvwsSetting" nillable="true" type="q104:QVWSSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetQVWSSettingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="license" nillable="true" type="q105:License" />
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceID" type="q106:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveLicenseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="licenseType" type="q107:LicenseType" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceID" type="q108:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetLicenseResult" nillable="true" type="q109:License" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="licenseType" type="q110:LicenseType" />
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceID" type="q111:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="licenseType" type="q112:LicenseType" />
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceID" type="q113:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="license" nillable="true" type="q114:License" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceHasValidLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="licenseType" type="q115:LicenseType" />
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="serviceID" type="q116:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceHasValidLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceHasValidLicenseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q117:guid" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q118:QVSSettingsScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQVSSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetQVSSettingsResult" nillable="true" type="q119:QVSSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQVSSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="qvsSettings" nillable="true" type="q120:QVSSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQVSSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="serviceTypes" type="q121:ServiceTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetServicesResult" nillable="true" type="q122:ArrayOfServiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReloadEngineServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReloadEngineServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetReloadEngineServicesResult" nillable="true" type="q123:ArrayOfServiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearQVSCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="objects" type="q124:QVSCacheObjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearQVSCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQDSSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q125:guid" />
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="scope" type="q126:QDSSettingsScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQDSSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetQDSSettingsResult" nillable="true" type="q127:QDSSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQDSSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="qdsSettings" nillable="true" type="q128:QDSSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQDSSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveQDSSettingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDistributionServiceWorkorder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q129:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDistributionServiceWorkorderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPublisherQDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q130:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPublisherQDSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPublisherQDSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q131:guid" />
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q132:DocumentFolderScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetDocumentFolderResult" nillable="true" type="q133:DocumentFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDocumentFolders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q134:guid" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q135:DocumentFolderScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDocumentFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetUserDocumentFoldersResult" nillable="true" type="q136:ArrayOfDocumentFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDocumentFolders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q137:guid" />
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q138:DocumentFolderScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDocumentFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetSourceDocumentFoldersResult" nillable="true" type="q139:ArrayOfDocumentFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q140:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetSourceDocumentsResult" nillable="true" type="q141:ArrayOfDocumentNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDocumentNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q142:guid" />
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="folderID" type="q143:guid" />
        <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceDocumentNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetSourceDocumentNodesResult" nillable="true" type="q144:ArrayOfDocumentNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q145:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetUserDocumentsResult" nillable="true" type="q146:ArrayOfDocumentNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDocumentNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qvsID" type="q147:guid" />
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="folderID" type="q148:guid" />
        <xs:element minOccurs="0" name="relativePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDocumentNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetUserDocumentNodesResult" nillable="true" type="q149:ArrayOfDocumentNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="documentTask" nillable="true" type="q150:DocumentTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q151:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetTasksResult" nillable="true" type="q152:ArrayOfTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskID" type="q153:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetTaskResult" nillable="true" type="q154:TaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsId" type="q155:guid" />
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="taskType" type="q156:TaskType" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="FindTaskResult" nillable="true" type="q157:TaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEDX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEDXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="FindEDXResult" nillable="true" type="q158:ArrayOfTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksForDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentID" type="q159:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksForDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetTasksForDocumentResult" nillable="true" type="q160:ArrayOfTaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentTaskID" type="q161:guid" />
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q162:DocumentTaskScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetDocumentTaskResult" nillable="true" type="q163:DocumentTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskID" type="q164:guid" />
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="taskType" type="q165:TaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskID" type="q166:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskID" type="q167:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="scope" type="q168:CategoriesScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q169:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertText">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAlertTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="serviceIDs" nillable="true" type="q170:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetServiceStatusesResult" nillable="true" type="q171:ArrayOfServiceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="taskStatusNodeRequests" nillable="true" type="q172:ArrayOfTaskStatusNodeRequest" />
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="filter" nillable="true" type="q173:TaskStatusFilter" />
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q174:TaskStatusScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetTaskStatusNodesResult" nillable="true" type="q175:ArrayOfTaskStatusNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="filter" nillable="true" type="q176:TaskStatusFilter" />
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q177:TaskStatusScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetTaskStatusesResult" nillable="true" type="q178:ArrayOfTaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskID" type="q179:guid" />
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="scope" type="q180:TaskStatusScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetTaskStatusResult" nillable="true" type="q181:TaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeLimitedServiceKey">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeLimitedServiceKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeLimitedServiceKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionAccessTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="scope" type="q182:SectionAccessScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionAccessTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetSectionAccessTablesResult" nillable="true" type="q183:ArrayOfSectionAccessTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionAccessTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tableId" type="q184:guid" />
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="scope" type="q185:SectionAccessScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionAccessTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetSectionAccessTableResult" nillable="true" type="q186:SectionAccessTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionAccessTableByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="scope" type="q187:SectionAccessScope" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionAccessTableByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetSectionAccessTableByNameResult" nillable="true" type="q188:SectionAccessTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSectionAccessTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="table" nillable="true" type="q189:SectionAccessTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSectionAccessTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSectionAccessTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tableId" type="q190:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSectionAccessTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerEDXTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q191:guid" />
        <xs:element minOccurs="0" name="taskNameOrID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="variableName" nillable="true" type="xs:string" />
        <xs:element xmlns:q192="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="variableValues" nillable="true" type="q192:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TriggerEDXTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="TriggerEDXTaskResult" nillable="true" type="q193:TriggerEDXTaskResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDXTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q194:guid" />
        <xs:element xmlns:q195="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="executionID" type="q195:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEDXTaskStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="GetEDXTaskStatusResult" nillable="true" type="q196:EDXStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartQDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q197:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartQDSResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QDSNeedRestart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="qdsID" type="q198:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QDSNeedRestartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QDSNeedRestartResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="configuration" nillable="true" type="q199:QDSDocumentSessionConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="CreateSessionResult" nillable="true" type="q200:QDSDocumentSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="session" nillable="true" type="q201:QDSDocumentSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelections">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="session" nillable="true" type="q202:QDSDocumentSession" />
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Document" minOccurs="0" name="fieldContents" nillable="true" type="q203:ArrayOfFieldContent" />
        <xs:element minOccurs="0" name="lockSelection" type="xs:boolean" />
        <xs:element minOccurs="0" name="toggleSelect" type="xs:boolean" />
        <xs:element minOccurs="0" name="returnSelectedList" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSelectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Document" minOccurs="0" name="AddSelectionsResult" nillable="true" type="q204:ArrayOfFieldContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldContentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="session" nillable="true" type="q205:QDSDocumentSession" />
        <xs:element minOccurs="0" name="forFieldName" nillable="true" type="xs:string" />
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="fieldContentType" type="q206:FieldContentType" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldContentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Document" minOccurs="0" name="GetFieldContentListResult" nillable="true" type="q207:ArrayOfFieldContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="session" nillable="true" type="q208:QDSDocumentSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Document" minOccurs="0" name="GetFieldListResult" nillable="true" type="q209:ArrayOfField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentBookmarkNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="session" nillable="true" type="q210:QDSDocumentSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentBookmarkNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDocumentBookmarkNamesResult" nillable="true" type="q211:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSelections">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="session" nillable="true" type="q212:QDSDocumentSession" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Enums" minOccurs="0" name="clearOptions" type="q213:DocumentClearOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearSelectionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects" minOccurs="0" name="session" nillable="true" type="q214:QDSDocumentSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/PIX.QMSAPI.DataObjects.Document" minOccurs="0" name="GetReportsResult" nillable="true" type="q215:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>